<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
		<meta name="theme-color" content="#000000" />
		<title>WebGL App</title>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
		<!-- SKYBOX MADE BY HIPSHOT -->
		<!-- https://forums.epicgames.com/unreal-tournament-2003-2004/ut2004-level-editing-modeling-skinning/108243-my-skies-and-and-cliff-textures-large-images -->
		<img id="cube_back" src="/assets/miramar_back.png" alt="imgTex" style="display:none;" />
		<img id="cube_bottom" src="/assets/miramar_bottom.png" alt="imgTex" style="display:none;" />
		<img id="cube_front" src="/assets/miramar_front.png" alt="imgTex" style="display:none;" />
		<img id="cube_left" src="/assets/miramar_left.png" alt="imgTex" style="display:none;" />
		<img id="cube_right" src="/assets/miramar_right.png" alt="imgTex" style="display:none;" />
		<img id="cube_top" src="/assets/miramar_top.png" alt="imgTex" style="display:none;" />
	</body>
</html>
